

<div class="content">
  <ul> 
    
  <div>
    <app-day-view></app-day-view>
  </div>
  </ul>
 <!--
  <div>
     <app-task-button></app-task-button>
     
  </div> 

  <br>
  <div class="demo">


    <button (click)="onEditTask()" i18n>Edit Task</button>

</div></div>
-->



<BR>


<div class="tasks">

  <task-card *ngFor="let task of  tasks  "
               (taskChanged)="save($event)"
               type="beginner"
               [task]="task">

    

  </task-card>


</div>


  
  
  


 

  
 
  

