<div class="task-card" *ngIf="task" #container>

  <div class="task-title">

      {{ cardIndex || '' + ' ' + task.description }}

  </div>

 
  <div class="task-description">

    Edit Title: <input #taskTitle [value]="task.description"
                       (keyup)="onTitleChanged(taskTitle.value)">

  </div>

  <div class="quantity">
  Hours 

  </div>
  <div class="quantity">
 Expenses 
 <br> quantity {{task.quantity}}
    
   </div>
   <div class="quantity">
   Additional Hours
      
     </div>
  




</div>